#Sat, 20 Apr 2013 13:11:45 -0400
app.name=GS

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=49019595-0dd7-419c-85a0-32d6bb4eff6f
